h1 a, h2 a, h3 a {
    color: #C25100;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu title */
  .sidenav h3 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .category-children {
    display: none;
  }

  .dropdown-arrow {
    display: inline-block;
    margin-left: 5px;
    color: #818181;
    transform: rotate(-90deg); /* Initial state */
    transition: transform 0.3s ease-in-out; /* Transition effect for rotation */
}

.material-symbols-outlined {
  float: right;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.toggle-button {
    width: 60px; /* Adjust the width to your preference */
    height: 60px; /* Set the height to make it a circle */
    border-radius: 50%;
    background-color: #111; /* Set the background color */
    color: #fff; /* Set the text color */
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%; /* Center vertically at 50% height of the sidenav */
    left: -30px; /* Adjust to place half of the circle off the left */
    transform: translateY(-50%);
    z-index: 2; /* Ensure the button appears above the sidebar */
    transition: 0.5s;
}

.toggle-button::before {
    content: '←';
    font-size: 30px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
}

/* Adjust the rotation of the arrow when the sidenav is open */
.toggle-button.active::before {
    transform: translateY(-50%) scaleX(-1);
}

.product-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-box {
    width: calc(25% - 20px);
    position: relative;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-sizing: border-box;
    overflow: hidden; /* Ensure overflow is hidden to contain the floated content */
}

.product-box img {
    width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    margin: auto;
}

.product-box .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.product-box h2, .product-box .product-price {
    padding: 10px;
    margin: 0;
}

.product-box h2 {
    font-size: 18px;
}

.product-box .product-price {
    font-size: 16px;
    color: #c25100;
    font-weight: bold;
}
