{% extends 'product/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products in {{ category.name }}</title>
</head>
<body>
    {% block content %}
        <h1>Products in {{ category.name }}</h1>
        <div class="product-boxes">
            {% for product in products %}
            <a href="{% url 'product_detail' category_slug=product.category.slug product_slug=product.slug %}" class="product-box">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h2>{{ product.name }}</h2>
                    <span class="product-price">€{{ product.price }}</span>
                </a>
            {% empty %}
                <p>No products available in this category.</p>
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>
