<!DOCTYPE html>
<html>
    <head>
        <title>Basta Streetwear!</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Basta Streetwear</a></h1>
        </header>

        <article>
            <h2><a href="">Product 1</a></h2>
            <p>{{ products }}</p>
            {% for product in products %}
                {{ product }}
            {% endfor %}
        </article>

        <h2>Second Test</h2>

        {% for product in products %}
            <article>
                <h3><a href="">{{ product.name }}</a></h3>
                <p>{{ product.price }}</p>
                <p>{{ product.description }}</p>
            </article>
        {% endfor %}
    </body>
</html>