<!-- List of files this code block extends to -->
{% extends 'product/base.html' %}

<!-- This file contains the block of code that displays products -->
<!-- can be called into other files using {% block name %} {% endblock %} -->
{% block content %}
    <h1>Products in {{ category.name }}</h1>
    <div class="product-boxes">
        {% for product in products %}
            <a href="{% url 'product_detail' category_slug=category.slug product_slug=product.slug %}" class="product-box">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <h2>{{ product.name }}</h2>                                 <!-- Get product name -->
                <p>{{ product.description }}</p>                            <!-- Get product description -->
                <span class="product-price">${{ product.price }}</span>     <!-- Get product price -->
            </a>
        {% empty %}
            <p>No products available in this category.</p>
        {% endfor %}
    </div>
{% endblock %}