<!-- List of files this code block extends to -->
{% extends 'product/base.html' %}

<!-- This file contains the block of code that displays products -->
<!-- can be called into other files using {% block name %} {% endblock %} -->
{% block content %}
    {% for product in products %}
        <article class="product">
            <h3><a href="{% url 'product_detail' pk=product.pk %}">{{ product.name }}</a></h3>  <!-- Get product name -->
            <p>€{{ product.price }}</p>                                                          <!-- Get product price -->
            <p>{{ product.description }}</p>                                                    <!-- Get product description -->
        </article>
    {% endfor %}
{% endblock %}