<!-- List of files this code block extends to -->
{% extends 'product/base.html' %}

{% load static %}

<!-- This file contains the block of code that displays a single product -->
<!-- can be called into other files using {% block name %} {% endblock %} -->
{% block content %}
    <article class="product">
        <h3><a href="{% url 'product_detail' category_slug=category.slug product_slug=product.slug %}">{{ product.name }}</a></h3>  <!-- Get product name -->
        <img src="{{ product.image.url }}" alt="{{ product.name }}">                        <!-- Get product image -->
        <p>€{{ product.price }}</p>                                                          <!-- Get product price -->
        <p>{{ product.description }}</p>                                                    <!-- Get product description -->
        <button id="add-to-cart" data-product-id="{{ product.id }}">Add to cart</button>                            <!-- Add product to cart -->
    </article>


{% endblock %}

<script src="{% static 'js/script.js' %}"></script>